/* Global -------------------------------------------------*/

@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("../static/fonts/AppleSDGothicNeoB.ttf");
}

* {
  box-sizing: border-box;
  font-family: "AppleSDGothicNeoB";
}

body {
  margin: 0;
}

/* 아래에 container css style을 지정해주세요. */
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 2fr 1fr;
  background-color: #070a07;
  border: 1px solid white;
}

.item {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(1) {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  font-size: 2rem;
  font-weight: 600;
  color: palevioletred;
}

.item:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  display: grid;
  border: 1px solid white;
}
.grid-container {
  border: 1px solid white;
  display: grid;
}

.grid-item {
  grid-template-rows: auto; /* Auto height for each row */
  padding: 20px;
  border: 1px solid white;
}

.grid-item:nth-child(1) {
  display: flex;
  padding: 10px 5px;
  align-items: center;
  justify-content: row;
  font-size: 0.8rem;
  font-weight: 200;
  border: 1px solid white;
  color: white;
}

.grid-item:nth-child(2) {
  /*좋아요*/
  display: grid;
  padding: 1px 1px;
  border: 1px solid white;
  color: white;
}
.span {
  padding: 5px;
}
.reactionButton1 {
  padding: 8px 0.1px;

  font-size: 1rem;
  font-weight: 200;
  color: white;
}

.grid-item:nth-child(3) {
  /*3일전*/
  padding: 8px 0.1px;
  border: 1px solid white;
  display: grid;
  font-size: 1rem;
  color: white;
}
p {
  font-size: 0.5rem;
  font-weight: 300;
  padding: 5px;
}

.item:nth-child(3) {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  color: salmon;
}

th,
td {
  background-color: #f2f2f2;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}

th {
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
}

ul {
  color: yellowgreen;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 5px;
}

.item:nth-child(4) {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.text {
  color: mediumaquamarine;
  text-align: center;
  animation: example-animation 2s ease-in-out infinite;
  font-size: 1.2rem;
  font-weight: 300;
}

@keyframes example-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
