/* Global -------------------------------------------------*/

@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("../static/fonts/AppleSDGothicNeoB.ttf");
}

* {
  box-sizing: border-box;
  font-family: "AppleSDGothicNeoB";
  font-size: 1.2rem;
  font-weight: 600;
}

body {
  margin: 0;
}

/* 아래에 container css style을 지정해주세요. */
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  background-color: #070a07;
  color: #ff7710;
  border: 1px solid white;
}

/* 아래에 item css style을 지정해주세요. */
.item {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.item:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.item:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.item:nth-child(4) {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
