/* Global -------------------------------------------------*/

@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("../static/fonts/AppleSDGothicNeoB.ttf");
}

@property --primaryColor {
  syntax: "<color>";
  initial-value: #ff7710;
  inherits: true;
}

@property --secondaryColor {
  syntax: "<color>";
  initial-value: #070a07;
  inherits: true;
}

* {
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: "AppleSDGothicNeoB";
}

/* html -------------------------------------------------- */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}

/* 아래에 css animation을 지정해주세요. */
